@using GTI350TP4.Models
@model ConfigurationViewModel
@{
    ViewBag.Title = "Nouvelle configuration";
    var spec = new ConfigurationViewModel();

}

<link href="~/Content/config-style.css" rel="stylesheet" />
<body>
    <div class="col-md-2" style="position:fixed;bottom:70px;left:0;" id="filterPanel">
        <div id="panelFilter" class="panel panel-default" style="display:none">
            <div class="panel-heading">
                <strong class="">Filtre personnalisé</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="build-name">Par nom :</label>
                    <input type="text" class="form-control" id="build-name" placeholder="Nom de la pièce" />
                </div>
                <div class="form-group">
                    <label for="build-name">Par marque :</label>
                    <input type="text" class="form-control" id="build-author" placeholder="Nom marque" />
                </div><hr /><div class="form-group">
                    <label>Par budget entre :</label><div class="col-md-12">
                        <input type="number" class="form-control col-md-6" id="build-pricing-min" placeholder="0" step="100" style="max-width:40%;margin-left:-20px" />
                        <div class="col-md-2" style="margin-top:10px">et</div>
                        <input type="number" class="form-control col-md-6" id="build-pricing-max" placeholder="∞" step="100" style="max-width:40%;margin-left:20px" />
                    </div>
                </div> <div><button id="activeFilter" type="button" class="btn btn-default" style="margin-top:20px;margin-left:35px">Activer filtre</button></div>
            </div>
        </div>
    </div>

    <div style="margin:0 auto;width:90%;">
        <div id="configuration" class="container img-rounded" style="margin:0 auto; width:100%;border:groove gray; position:relative; overflow:hidden">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.configName, new { @class = "col-md-3 control-label", style = "margin-top:20px" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.configName, new { @class = "form-control", style = "max-width:90%;margin-top:15px" })
                        @Html.ValidationMessageFor(m => m.configName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <input id="save" type="button" class="btn btn-primary" value="Sauvegarder" style="display:block;margin:0 auto;margin-top:15px">



                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-5">
                        @Html.LabelFor(m => m.maxPrice, new { @class = "col-md-4 control-label", style = "margin-top:25px" })
                        @Html.TextBoxFor(m => m.maxPrice, new { @class = "form-control", style = "max-width:100px;margin-top:20px" })
                        @Html.ValidationMessageFor(m => m.maxPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-7">
                        @Html.LabelFor(m => m.description, new { @class = "col-md-2 control-label", style = "margin-left:-40px;margin-top:25px" })
                        @Html.TextAreaFor(m => m.description, new { @class = "col-md-6 form-control", style = "max-width:90%;margin-bottom:10px;margin-top:20px;max-height:36px" })
                    </div>

                </div>


            </div>

            <h3>Progression</h3>
            <div id="progression" class="img-rounded" style="margin:0 auto; width:100%;border:groove gray; position:relative; overflow:hidden">
                <div id="boitier" step="1" class="col-sm-2" style="padding:0;max-width:138px;">
                    <div class="step-progression-block" selected="selected" style="opacity:1">
                        <div class="step-progression-header">
                            <span>Boitier</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://findicons.com/files/icons/76/icandy_junior/128/pc_case.png" style="max-height:100px;max-width:100px;" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
                <div id="processeur" step="2" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Processeur</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://www.icone-png.com/png/53/52616.png" style="max-height:100px;max-width:100px;padding-top:20px;" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
                <div id="ram" step="3" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Ram</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://www.iconarchive.com/download/i60174/zerode/plump/Device-RAM.ico" style="max-height:100px;max-width:100px;" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
                <div id="hardrive" step="4" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Disque dur</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://www.iconarchive.com/download/i13485/harwen/simple/Hard-Drive.ico" style="max-height:100px;max-width:100px;" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
                <div id="motherboard" step="5" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Carte mère</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://icons.iconarchive.com/icons/icons-land/vista-hardware-devices/256/Motherboard-icon.png" style="max-height:100px;max-width:100px;" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
                <div id="graphicCard" step="6" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Carte graphique</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://www.iconarchive.com/download/i3666/babasse/bagg-and-boxs/carte-graphique.ico" style="max-height:100px;max-width:100px" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>
               @* <div id="peripherique" step="7" selected="false" class="col-sm-2" style="padding:0;max-width:141px;">
                    <div class="step-progression-block">
                        <div class="step-progression-header">
                            <span>Périphériques</span>
                        </div>
                        <a class="step-progression-body">
                            <img src="http://st2.depositphotos.com/2376545/10847/v/950/depositphotos_108470314-stock-illustration-computer-peripheral-icon.jpg" style="max-height:100px;max-width:100px" />
                        </a>
                        <div class="step-progression-footer">
                            <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-red/bfa/bfa_check-circle/bfa_check-circle_simple-red_512x512.png" style="max-height:100%;max-width:100%" />

                        </div>

                    </div>

                </div>*@
            </div>
            <h3>Selection piece</h3>
            <div id="pieces" class="img-rounded" style="margin:0 auto; width:100%;border:groove gray; position:relative; overflow:hidden">
                <div class="row">
                    <div id="buttonGroupFilter" class="col-lg-2" style="display: block; height:280px;">
                        <div class="btn-group-vertical" role="group" data-toggle="buttons" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-default" aria-label="..." style="min-height:70px">Trier par meilleur cote</button>
                            <button type="button" class="btn btn-default" style="min-height:70px">Trier par popularité</button>

                            <button type="button" class="btn btn-default" style="min-height:70px">Suggestions de l'équipe</button>
                            <button id="filter" type="button" class="btn btn-default" style="min-height:70px;">Filtre personnalisé</button>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="padding:0;margin-left:1.7em">
                            <div id="piece1" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://media.ldlc.com/ld/products/00/00/98/05/LD0000980501_1.jpg" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:3</li>
                                            <li>Dim: 30x25</li>
                                            <li>Prix: 50.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" style="padding:0">
                            <div id="piece2" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://i2.cdscdn.com/pdt2/a/b/t/1/700x700/eca3321abt/rw/enermax-boitier-pc-thorex-eca3321a-bt-2u3.jpg" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:4</li>
                                            <li>Dim: 40x30</li>

                                            <li>"Prix: 75.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" style="padding:0">
                            <div id="piece3" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://i2.cdscdn.com/pdt2/8/8/5/1/700x700/adv3700104417885/rw/advance-boitier-pc-gamer-darktrooper.jpg" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:5</li>
                                            <li>Dim: 50x40</li>

                                            <li>Prix: 50.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" style="padding:0;margin-left:1.7em">
                            <div id="piece4" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://img.clubic.com/download/image.php?id=04556408&h=0156&w=0156&crop=2&options=YToxOntzOjU6ImNvbG9yIjtzOjU6IndoaXRlIjt9" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:3</li>
                                            <li>Dim: 35x30</li>

                                            <li>Prix: 50.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" style="padding:0">
                            <div id="piece5" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://microtek.fr/wp-content/uploads/2011/12/boitier1.jpg" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:2</li>
                                            <li>Dim: 30x25</li>
                                            <li>Prix: 50.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" style="padding:0">
                            <div id="piece6" piece-type="boitier" class="pdsa-summary-block">

                                <div class="summary-background">
                                    <img src="http://media.ldlc.com/ld/products/00/00/98/05/LD0000980501_1.jpg" />
                                </div>

                                <div class="summary-body">
                                    <div class="summary-line-1">Sommaire</div>
                                    <div class="summary-line-2">
                                        <ul>
                                            <li>USB Slot:2</li>
                                            <li>Dim: 25x25</li>
                                            <li>Prix: 50.00$</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a href="#">
                                        Voir détails
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <button class="btn btn-default" id="previousStep" style="padding: 13px 12px;margin-left: 20px;margin-top: 10px;margin-bottom: 10px;">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>


                    Étape précédente
                </button>
                <button class="btn btn-default" id="nextStep" style="padding: 13px 12px;float: right!important;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
                    Étape suivante
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

                </button>


            </div>
        </div>
    </div>

</body>